.header {
  padding: 1.5rem;
  z-index: 99;
  opacity: 1;
  transform: none;
  position: sticky;
  top: 0;
  transition: all 300ms ease;
}

.header__container {
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: space-between;
  font-weight: 500;
}

.header__container-navList {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  list-style: none;
  gap: 1.5rem;
  cursor: pointer;
}